//
//      Color
//
$red: #870000;
$blank: #fff !default;
$gray-primary: #DDD;
$gray-secondary: #EEE;
$black: #161616 !default;
$secondary: #283E56;
$primary: #289548;
$colors: (
        primary: $primary,
        secondary: $secondary,
        disabled: $gray-primary,
        blank: $blank,
        gray: $gray-secondary,
        dark: $black,
);
$btn-colors: (
        primary: $primary,
        secondary: $secondary,
        disabled: $gray-primary,
        gray: $gray-secondary,
        dark: $black,
);
//
// Breakpoints
//
//
// Breakpoints
//
$breakpoints: (
        xs: 0px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1680px
);

$grid-breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1680px
);

//
//      Shadow
//
$shadow-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
$shadow-2: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
$shadow-3: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
$shadow-4: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
$shadow-5: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3); //
//      Fonts
//
@font-face {
  font-family: Okomito;
  src: url("/assets/fonts/Okomito/Black/Okomito-Black.otf");
  font-weight: 900;
}

@font-face {
  font-family: Okomito;
  src: url("/assets/fonts/Okomito/Regular/Okomito-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: Okomito;
  src: url("/assets/fonts/Okomito/Medium/Okomito-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: Okomito;
  src: url("/assets/fonts/Okomito/Light/Okomito-Light.otf");
  font-weight: 300;
}

$body-font-size: 14px; //
// Transition
//
$base-transition-duration: 0.25s;
$transition-base: all $base-transition-duration cubic-bezier(.550, .055, .675, .190); //


//
// Typography
//
$base-font-family: Okomito, sans-serif !default;
$heading-font-family: $base-font-family;

$font-weight-values: (
        thin: 100,
        light: 300,
        regular: 400,
        medium: 500,
        bold: 700,
        black: 900
) !default;