$card-border-radius: 0;
$card-padding-y: 3rem;
$card-padding-x: 3rem;
$card-margin-b: 0;

.card {
  padding: $card-padding-y $card-padding-x;
  margin-right: 0;
  margin-bottom: $card-margin-b;
  margin-left: 0;
  position: relative;
  border-radius: $card-border-radius;
  display: flex;
  flex-flow: column wrap;
  align-content: stretch;

  .card__img {
    img {
      height: 350px;
      width: auto;
      margin: 0 auto;
    }

    & + .text--box {
      padding: 0;
      margin-top: 2.5rem;
    }
  }

  .text--box {
    padding: 0;
  }

  &.card--bordered {
    border-width: .2rem;
    border: solid map_get($colors, disabled);
  }
}

.box {
  padding: 2rem;

  @include mq(lg) {
    padding: 3rem 2.5rem;
  }
}