.material-icons {
  vertical-align: top;
  font-weight: inherit;
}

.material-icons-18 {
  font-size: 18px !important;
}

.material-icons-24 {
  font-size: 24px !important;
}

.material-icons-36 {
  font-size: 36px !important;
}

.material-icons-48 {
  font-size: 48px !important;
}

.material-icons-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons-dark.material-icons-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons-light.material-icons-inactive {
  color: rgba(255, 255, 255, 0.3);
}