.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  z-index: 999;
  padding: 2rem 3rem;
  background: transparent;

  &--footer {
    padding: 1.5rem 3rem;
    top: auto;
    bottom: 0;
    background: transparent;
  }
}

.scroll {
  color: #fff;

  .negative & {
    color: #161616;
  }
}

.progress {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 10px;
  z-index: 1;
  background: transparent;

  .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#fff;

    &:before {
      @include pseudo();
      bottom: 0;
      height: 10px;
      right: 0;
      width: 2px;
      background: #fff;
      transition: height .2s ease-in-out;
    }

    .negative & {
      background: #161616;

      &:before {
        height: 20px;
        background: #161616;
      }
    }
  }
}
