.post {
  margin-bottom: 4rem;
}

.hero {
  &.nav--padding {
    padding-top: 5rem;
  }
}

.text--box {
  position: relative;
  padding: 2rem 1.25rem;
}

@include mq(md) {
  .text--box {
    padding: 3rem 1.5rem;
  }
}

@include mq(lg) {
  .text--box {
    padding: 3rem 2rem;
  }
}

.parallax--container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.parallax--background {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.news-row {
  @extend .row;
  padding: 3.5em 0;

  span.img--preview {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    z-index: 2;

    @include mq(sm) {
      &.right,
      &.left {
        &:before {
          @include pseudo();
          top: 50%;
          height: 4px;
          width: 50%;
          z-index: 0;
        }
      }

      &.right {
        &:before {
          right: 100%;
        }
      }

      &.left {
        &:before {
          left: 100%;
        }
      }
    }

    @include mq(md) {
      &.left:before,
      &.right:before {
        width: 100%;
      }
    }

    @include mq(lg) {
      &.left:before,
      &.right:before {
        width: 175%;
      }
    }
  }
}

