.hero {
  &.nav--padding {
    padding-top: 5rem;
  }
}

.heading {
  text-align: right;
  h1 {
    font-size: 5rem !important;
    line-height: 5rem !important;
  }

  span {
    font-weight: 700;
  }
}

@include mq(phone) {
  .hero {
    &.nav--padding {
      padding: 0;
    }
  }
}

@include mq(tablet) {
  .heading {
    h1 {
      font-size: 7rem !important;
      line-height: 7rem !important;
    }
  }
}

@include mq(desktop-wide) {

  .heading {
    h1 {
      font-size: 12rem !important;
      line-height: 12rem !important;
    }
  }
}

.text--box {
  position: relative;
  padding: 2rem 1.25rem;
}

@include mq(tablet) {
  .text--box {
    padding: 3rem 1.5rem;
  }
}

@include mq(desktop) {
  .text--box {
    padding: 3rem 2rem;
  }
}

.card {
  padding: 3rem 2.5rem;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: 0;
  position: relative;
  background: lighten(map_get($colors, disabled), 50%);
  border-radius: .25rem;

  .frame & {
    margin-left: 2.5rem;
  }

  .card--img {
    img {
      height: 350px;
      width: auto;
      margin: 0 auto;
    }

    & + .text--box {
      padding: 0;
      margin-top: 2.5rem;
    }
  }

  .text--box {
    padding: 0;
  }

  &.card-bordered {
    border-width: .2rem;
    border: solid map_get($colors, disabled);
  }
}

.parallax--container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.parallax--background {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.news-row {
  @extend .row;
  padding: 3.5em 0;

  span.img--preview {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    z-index: 2;

    @include mq(phone) {
      &.right,
      &.left {
        &:before {
          @include pseudo();
          top: 50%;
          height: 4px;
          width: 50%;
          z-index: 0;
        }
      }

      &.right {
        &:before {
          right: 100%;
        }
      }

      &.left {
        &:before {
          left: 100%;
        }
      }
    }

    @include mq(tablet) {
      &.left:before,
      &.right:before {
        width: 100%;
      }
    }

    @include mq(desktop) {
      &.left:before,
      &.right:before {
        width: 175%;
      }
    }
  }
}

