section {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  @include flex-dir(row);

  .bottle--container {
    height: 300vh;
  }

  .panel {
    min-height: 100vh;
    @extend .container;
    display: flex;
    @extend .middle;
  }

  .section--text {
    padding: 25px 40px;
  }

  .bottle--position {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
  }
}

@include mq(phone, max) {
  section {
    .bottle--position {
      position: relative;

      .bottle {
        top: 0;
        margin: auto;
      }
    }

    .panel {
      min-height: 75vh;
    }
  }

  header {
    .nav,
    .sub--nav {
      ul.nav--wrapper {
        display: none;
      }
    }
  }
}

.bottle {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  z-index: 1;
}

.bottle--trigger {
  min-height: 1px;
}