<div class="nav--container nav--fixed">
    <div class="nav bg-secondary middle between">
        <a class="nav--brand" href="">
            Logo<br>
            <span class="nav--sub-brand">Motto del brand</span>
        </a>
        <div class="nav--burger">
            <span></span>
        </div>
        <div class="nav--full-screen middle center">
            <ul class="nav--wrapper">
                <li><a href="#intro" class="nav--link">intro</a></li>
                <li><a href="#typography" class="nav--link">typography</a></li>
                <li><a href="#image" class="nav--link">images</a></li>
                <li><a href="#parallax" class="nav--link">Parallax</a></li>
                <li><a href="#form" class="nav--link">Form</a></li>
            </ul>
        </div>
    </div>
</div>