<div class="nav--container nav--fixed">
    <div class="nav nav--expand bg-secondary nav--light">
        <a class="nav__brand" href="">
            Logo<br>
            <span class="nav__sub-brand">Motto del brand</span>
        </a>
        <div class="nav__burger">
            <span></span>
        </div>
        <div class="nav--collapse middle end collapse">
            <ul class="nav__wrapper">
                <li><a href="#typography" class="nav__link">typography</a></li>
                <li><a href="#image" class="nav__link">images</a></li>
                <li><a href="#parallax" class="nav__link">Parallax</a></li>
                <li><a href="#form" class="nav__link">Form</a></li>
            </ul>
        </div>
    </div>
</div>