footer {
  .nav {
    padding: 0;
  }

  .nav__wrapper {
    > li {
      > ul > li {
        > a,
        > ul > li > a {
          font-family: map_get($font-family, body);
          text-transform: capitalize;
        }
        > ul {
          margin-left: 1rem;
        }
      }
      > a {
        font-size: 1.25rem;
      }
    }

  }
}