$gutter-width: 1;
$outer-margin: 2;
$gutter-compensation: (($gutter-width * 0.5) * -1);
$half-gutter-width: ($gutter-width * 0.5);
$sm-min: 32;
$md-min: 44;
$lg-min: 58;
$xl-min: 71;
$screen-sm-min: ($sm-min);
$screen-md-min: ($md-min);
$screen-md-min: ($md-min);
$screen-lg-min: ($lg-min);
$container-sm: ($sm-min + $gutter-width);
$container-md: ($md-min + $gutter-width);
$container-lg: ($lg-min + $gutter-width);
$container-xl: ($xl-min + $gutter-width);


.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: #{$outer-margin}rem;
  padding-left: #{$outer-margin}rem;
}

.row {
  @extend %flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include flex(0,1);
}

.reverse {
  @include flex-direction(row-reverse);
}

.col.reverse {
  @include flex-direction(column-reverse);
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-offset-0,
.col-offset-1,
.col-offset-2,
.col-offset-3,
.col-offset-4,
.col-offset-5,
.col-offset-6,
.col-offset-7,
.col-offset-8,
.col-offset-9,
.col-offset-10,
.col-offset-11,
.col-offset-12 {
  @include flex(0 0);
  padding-right: ($outer-margin)rem;
  padding-left: ($outer-margin)rem;
}

.col {
  @include flex-grow(1);
  @include  flex-basis(0);
  max-width: 100%;
}

.col-1 {
  @include  flex-basis(8.33333333%, true);
}

.col-2 {
  @include  flex-basis(16.66666667%, true);
}

.col-3 {
  @include  flex-basis(25%, true);
}

.col-4 {
  @include  flex-basis(33.33333333%, true);
}

.col-5 {
  @include  flex-basis(41.66666667%, true);
}

.col-6 {
  @include  flex-basis(50%, true);
}

.col-7 {
  @include  flex-basis(58.33333333%, true);
}

.col-8 {
  @include  flex-basis(66.66666667%, true);
}

.col-9 {
  @include  flex-basis(75%, true);
}

.col-10 {
  @include  flex-basis(83.33333333%, true);
}

.col-11 {
  @include  flex-basis(91.66666667%, true);
}

.col-12 {
  @include  flex-basis(100%, true);
}

.col-offset-0 {
  margin-left: 0;
}

.col-offset-1 {
  margin-left: 8.33333333%;
}

.col-offset-2 {
  margin-left: 16.66666667%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33333333%;
}

.col-offset-5 {
  margin-left: 41.66666667%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33333333%;
}

.col-offset-8 {
  margin-left: 66.66666667%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33333333%;
}

.col-offset-11 {
  margin-left: 91.66666667%;
}

.start {
  @include justify-content(flex-start);
}

.center {
  @include justify-content(center);
}

.end {
  @include justify-content(flex-end);
}

.top {
  @include align-items(flex-start);
}

.middle {
  @include align-items(center);
}

.bottom {
  @include align-items(flex-end);
}

.around {
  @include justify-content(space-around);
}

.between {
  @include justify-content(space-between);
}

.first {
  @include order(-1);
}

.last {
  @include order(1);
}

@include mq(phone) {
  .container {
    max-width: #{$container-sm}em;
  }

  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    @include flex(0 0);
    padding-right: ($outer-margin)rem;
    padding-left: ($outer-margin)rem;
  }

  .col-sm {
    @include flex-grow(1);
    @include  flex-basis(0);
    max-width: 100%;
  }

  .col-sm-1 {
    @include  flex-basis(8.33333333%, true);
  }

  .col-sm-2 {
    @include  flex-basis(16.66666667%, true);
  }

  .col-sm-3 {
    @include  flex-basis(25%, true);
  }

  .col-sm-4 {
    @include  flex-basis(33.33333333%, true);
  }

  .col-sm-5 {
    @include  flex-basis(41.66666667%, true);
  }

  .col-sm-6 {
    @include  flex-basis(50%, true);
  }

  .col-sm-7 {
    @include  flex-basis(58.33333333%, true);
  }

  .col-sm-8 {
    @include  flex-basis(66.66666667%, true);
  }

  .col-sm-9 {
    @include  flex-basis(75%, true);
  }

  .col-sm-10 {
    @include  flex-basis(83.33333333%, true);
  }

  .col-sm-11 {
    @include  flex-basis(91.66666667%, true);
  }

  .col-sm-12 {
    @include  flex-basis(100%, true);
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-sm {
    @include justify-content(flex-start);
  }

  .center-sm {
    @include justify-content(center);
  }

  .end-sm {
    @include justify-content(end);
  }

  .top-sm {
    @include align-items(flex-start);
  }

  .middle-sm {
    @include align-items(center);
  }

  .bottom-sm {
    @include align-items(end);
  }

  .around-sm {
    @include justify-content(space-around);
  }

  .between-sm {
    @include justify-content(space-between);
  }

  .first-sm {
    @include order(-1);
  }

  .last-sm {
    @include order(1);
  }
}

@include mq(tablet) {
  .container {
    max-width: #{$container-md}em;
  }

  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    @include flex(0 0);
    padding-right: ($outer-margin)rem;
    padding-left: ($outer-margin)rem;
  }

  .col-md {
    @include flex-grow(1);
    @include  flex-basis(0);
    max-width: 100%;
  }

  .col-md-1 {
    @include  flex-basis(8.33333333%, true);
  }

  .col-md-2 {
    @include  flex-basis(16.66666667%, true);
  }

  .col-md-3 {
    @include  flex-basis(25%, true);
  }

  .col-md-4 {
    @include  flex-basis(33.33333333%, true);
  }

  .col-md-5 {
    @include  flex-basis(41.66666667%, true);
  }

  .col-md-6 {
    @include  flex-basis(50%, true);
  }

  .col-md-7 {
    @include  flex-basis(58.33333333%, true);
  }

  .col-md-8 {
    @include  flex-basis(66.66666667%, true);
  }

  .col-md-9 {
    @include  flex-basis(75%, true);
  }

  .col-md-10 {
    @include  flex-basis(83.33333333%, true);
  }

  .col-md-11 {
    @include  flex-basis(91.66666667%, true);
  }

  .col-md-12 {
    @include  flex-basis(100%, true);
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-md {
    @include justify-content(flex-start);
  }

  .center-md {
    @include justify-content(center);
  }

  .end-md {
    @include justify-content(end);
  }

  .top-md {
    @include align-items(flex-start);
  }

  .middle-md {
    @include align-items(center);
  }

  .bottom-md {
    @include align-items(end);
  }

  .around-md {
    @include justify-content(space-around);
  }

  .between-md {
    @include justify-content(space-between);
  }

  .first-md {
    @include order(-1);
  }

  .last-md {
    @include order(1);
  }
}
@include mq(desktop) {
  .container {
    max-width: #{$container-lg}em;
  }

  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    @include flex(0 0);
    padding-right: ($outer-margin)rem;
    padding-left: ($outer-margin)rem;
  }

  .col-lg {
    @include flex-grow(1);
    @include  flex-basis(0);
    max-width: 100%;
  }

  .col-lg-1 {
    @include  flex-basis(8.33333333%, true);
  }

  .col-lg-2 {
    @include  flex-basis(16.66666667%, true);
  }

  .col-lg-3 {
    @include  flex-basis(25%, true);
  }

  .col-lg-4 {
    @include  flex-basis(33.33333333%, true);
  }

  .col-lg-5 {
    @include  flex-basis(41.66666667%, true);
  }

  .col-lg-6 {
    @include  flex-basis(50%, true);
  }

  .col-lg-7 {
    @include  flex-basis(58.33333333%, true);
  }

  .col-lg-8 {
    @include  flex-basis(66.66666667%, true);
  }

  .col-lg-9 {
    @include  flex-basis(75%, true);
  }

  .col-lg-10 {
    @include  flex-basis(83.33333333%, true);
  }

  .col-lg-11 {
    @include  flex-basis(91.66666667%, true);
  }

  .col-lg-12 {
    @include  flex-basis(100%, true);
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    @include justify-content(flex-start);
  }

  .center-lg {
    @include justify-content(center);
  }

  .end-lg {
    @include justify-content(end);
  }

  .top-lg {
    @include align-items(flex-start);
  }

  .middle-lg {
    @include align-items(center);
  }

  .bottom-lg {
    @include align-items(end);
  }

  .around-lg {
    @include justify-content(space-around);
  }

  .between-lg {
    @include justify-content(space-between);
  }

  .first-lg {
    @include order(-1);
  }

  .last-lg {
    @include order(1);
  }
}

@include mq(desktop-wide) {
  .container {
    max-width: #{$container-xl}em;
  }

  .col-xl,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-offset-0,
  .col-xl-offset-1,
  .col-xl-offset-2,
  .col-xl-offset-3,
  .col-xl-offset-4,
  .col-xl-offset-5,
  .col-xl-offset-6,
  .col-xl-offset-7,
  .col-xl-offset-8,
  .col-xl-offset-9,
  .col-xl-offset-10,
  .col-xl-offset-11,
  .col-xl-offset-12 {
    @include flex(0 0);
    padding-right: ($outer-margin)rem;
    padding-left: ($outer-margin)rem;
  }

  .col-xl {
    @include flex-grow(1);
    @include  flex-basis(0);
    max-width: 100%;
  }

  .col-xl-1 {
    @include  flex-basis(8.33333333%, true);
  }

  .col-xl-2 {
    @include  flex-basis(16.66666667%, true);
  }

  .col-xl-3 {
    @include  flex-basis(25%, true);
  }

  .col-xl-4 {
    @include  flex-basis(33.33333333%, true);
  }

  .col-xl-5 {
    @include  flex-basis(41.66666667%, true);
  }

  .col-xl-6 {
    @include  flex-basis(50%, true);
  }

  .col-xl-7 {
    @include  flex-basis(58.33333333%, true);
  }

  .col-xl-8 {
    @include  flex-basis(66.66666667%, true);
  }

  .col-xl-9 {
    @include  flex-basis(75%, true);
  }

  .col-xl-10 {
    @include  flex-basis(83.33333333%, true);
  }

  .col-xl-11 {
    @include  flex-basis(91.66666667%, true);
  }

  .col-xl-12 {
    @include  flex-basis(100%, true);
  }

  .col-xl-offset-0 {
    margin-left: 0;
  }

  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-xl {
    @include justify-content(flex-start);
  }

  .center-xl {
    @include justify-content(center);
  }

  .end-xl {
    @include justify-content(end);
  }

  .top-xl {
    @include align-items(flex-start);
  }

  .middle-xl {
    @include align-items(center);
  }

  .bottom-xl {
    @include align-items(end);
  }

  .around-xl {
    @include justify-content(space-around);
  }

  .between-xl {
    @include justify-content(space-between);
  }

  .first-xl {
    @include order(-1);
  }

  .last-xl {
    @include order(1);
  }
}