//
//      Button
//

// Btn padding
$btn-padding-y: .5rem;
$btn-padding-x: .75rem;

// Btn block spacing
$btn-block-spacing-y: 10px;

// Radius
$btn-border-radius: .25rem;

// Transition
$btn-transition-duration: .25s;
$transition-base: all $btn-transition-duration cubic-bezier(.550, .055, .675, .190);
$btn-transition: all $btn-transition-duration ease;

// Border
$btn-border-width: 2px;

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  padding: $btn-padding-y $btn-padding-x;
  border-radius: $btn-border-radius;
  transition: $btn-transition;
  @extend %button;
}

@each $theming, $color in $btn-colors {
  .btn-#{$theming} {
    background-color: lighten($color, 25%);
    border-color: lighten($color, 25%);
    color: map_get($colors, blank);

    @include hover-focus() {
      background-color: $color;
      border-color: $color;

    }
  }
}