.slider {
  overflow: hidden;
}

.frame {
  position: relative;
  height: auto;
  padding: 0;

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  .next,
  .prev {
    opacity: 1;
    display: flex;
    position: absolute;
    top: 0;
    bottom:0;
    margin: auto;
    align-items: center;
    cursor: pointer;
    @include transition();
  }

  .next.disabled,
  .prev.disabled {
    opacity: 0;
  }

  .slidee {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: inline-flex;
    align-items: center;

    li {
      float: left;
      padding: 0;
      width: 70vw;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      flex: 0 1 auto;
      align-items: center;
      margin: 0 10px 0 0;

      @include mq(sm, max) {
        width: 100vw;
      }
    }
  }

  &.full--height,
  &.el--on-frame {
    .slidee {
      li {
        margin: 0;
      }
    }

    & ~ .scrollbar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      height: 8px;
      background: transparent;

      .handle {
        position: relative;
        top: inherit;
      }

      .mousearea {
        display: none;
      }
    }

    & ~ .pages {
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 10px;
    }
  }

}

.pages {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 4px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    border-width: 3px;
    border-style: dotted;
    @include transition();

    &.active {
      border-style: solid;
    }
  }
}

.scrollbar {
  position: relative;
  margin: 3rem 0;
  width: 100%;
  height: 1px;
  background: map_get($colors, blank);

  .handle {
    position: absolute;
    top: -3.5px;
    width: 100px;
    height: 8px;

    .mousearea {
      position: absolute;
      top: -9px;
      left: 0;
      width: 100%;
      height: 20px;
      cursor: pointer;
    }
  }
}