.bg-primary {
  background: $primary;

  &.card {
    border: solid $secondary;
  }

  &.color-contrast {
    color: $secondary;
  }
}

.bg-secondary {
  background: $secondary;

  &.card {
    border: solid $primary;
  }

  &.color-contrast {
    color: $primary;
  }
}

.bg-neutro {
  background: transparent;

  &.color-contrast {
    color: transparent;
  }
}

.bg-dark {
  background: $gray-secondary;
}
