//
//  Theme Variables
//  @var: general, btns
//  *** IMPORTANT ***: copy & paste each time you start a new project
//
$colors: (
        primary: $primary,
        secondary: $secondary,
        disabled: $gray-primary,
        blank: $blank,
        gray: $gray-secondary,
        dark: $black,
);

$btn-colors: (
        primary: $primary,
        secondary: $secondary,
        disabled: $gray-primary,
        gray: $gray-secondary,
        dark: $black,
);

//
// Theme Behaviour
//

.bg-primary {
  background: map_get($colors, primary);
  color: map_get($colors, secondary);

  &.card-bordered {
    border: solid map_get($colors, secondary);
  }

  .nav--link, .nav--brand {
    color: map_get($colors, secondary);

    @include hover-focus-active() {
      color: lighten(map_get($colors, secondary), 25%);
    }

    &:before {
      background: map_get($colors, blank);
    }

    &.disabled {
      color: map_get($colors, disabled);
    }
  }

  .nav--burger {
    span {
      &,
      &:before,
      &:after {
        background: map_get($colors, secondary);
      }
    }

    &.active {
      span {
        &,
        &:before,
        &:after {
          background: map_get($colors, primary);
        }
      }
    }
  }

  .nav--full-screen {
    background: lighten(map_get($colors, secondary), 25%);
    color: map_get($colors, primary);

    .nav--link {
      color: map_get($colors, primary);

      @include hover-focus-active() {
        color: map_get($colors, secondary);
      }
    }
  }

  .frame ~ .pages {
    li {
      border-color: map_get($colors, secondary);

      &.active {
        background: map_get($colors, secondary);
      }
    }
  }

  .frame ~ .scrollbar {
    .handle {
      background: map_get($colors, secondary);
    }
  }

  .news-row {
    span.img--preview {
      border-color: map_get($colors, secondary);

      &.right,
      &.left {
        &:before {
          background: map_get($colors, secondary);
        }
      }
    }
  }
}

.bg-secondary {
  background: map_get($colors, secondary);
  color: map_get($colors, primary);

  &.card-bordered {
    border: solid map_get($colors, primary);
  }

  .nav--link, .nav--brand {
    color: map_get($colors, primary);

    @include hover-focus-active() {
      color: lighten(map_get($colors, primary), 25%);
    }
    &:before {
      background: map_get($colors, blank);
    }

    &.disabled {
      color: map_get($colors, disabled);
    }
  }

  .nav--full-screen {
    background: lighten(map_get($colors, primary), 25%);
    color: map_get($colors, secondary);

    .nav--link {
      color: map_get($colors, secondary);

      @include hover-focus-active() {
        color: map_get($colors, primary);
      }
    }
  }

  .nav--burger {
    span {
      &,
      &:before,
      &:after {
        background: map_get($colors, primary);
      }
    }

    &.active {
      span {
        &,
        &:before,
        &:after {
          background: map_get($colors, secondary);
        }
      }
    }
  }

  .frame ~ .pages {
    li {
      border-color: map_get($colors, primary);

      &.active {
        background: map_get($colors, primary);
      }
    }
  }

  .frame ~ .scrollbar {
    .handle {
      background: map_get($colors, primary);
    }
  }

  .news-row {
    span.img--preview {
      border-color: map_get($colors, primary);

      &.right,
      &.left {
        &:before {
          background: map_get($colors, primary);
        }
      }
    }
  }
}

section.bg-primary {
  box-shadow: 0 6px 10px 0 rgba(map_get($colors, primary), 0.14), 0 1px 18px 0 rgba(map_get($colors, primary), 0.12), 0 3px 5px -1px rgba(map_get($colors, primary), 0.3);
}

section.bg-secondary {
  box-shadow: 0 6px 10px 0 rgba(map_get($colors, secondary), 0.14), 0 1px 18px 0 rgba(map_get($colors, secondary), 0.12), 0 3px 5px -1px rgba(map_get($colors, secondary), 0.3);
}

.bg-neutro {
  background: transparent;

  &.color-contrast {
    color: transparent;
  }
}

.bg-dark {
  background: map_get($colors, gray);
}
