@each $theming, $color in $colors {
  .bg--#{$theming} {
    background-color: $color;
  }

  .frame--#{$theming} {
    background-color: $color;

    .slidee {
      background-color: color-yiq($color);

    }
    & ~ .pages {

      li {
        border-color: $color;
      }
    }
  }

  .card--#{$theming} {
    background-color: $color;

    &:not(.txt--primary) {
      color: color-yiq($color);
    }
  }

  .txt--#{$theming} {
    color: $color;

    /*
    @include hover-mobile(md) {
      color: color-yiq($color);
    }
    */
  }

  .circle--#{$theming} {
    border-color: $color !important;
  }
}

.nav--light {
  background-color: map_get($colors, blank);

  .nav__burger {

    span {
      background-color: map_get($colors, primary);

      &:after,
      &:before {
        background-color:map_get($colors, primary);

      }
    }
  }
}