//
// Section
//
body {
  color: map_get($colors, dark);
}

section {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: map_get($colors, blank);

  &.auto-height {
    height: auto;
    min-height: 1px;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

//
// Fluid images
//
img {
  width: 100%;
  height: auto;
  display: block;
}

.txt-align-center {
  text-align: center !important;
}

.txt-align-right {
  text-align: right !important;
}

.txt-align-left {
  text-align: left !important;
}

//
// Masonry pkgd plugin
//
.grid {
  margin: 5em 0;
}

.grid-sizer,
.grid-item,
.grid-item--width-2,
.grid-item--width-3 {
  width: 100%;
}

@include mq(tablet) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }

  .grid-item--width-2 {
    width: 50%;
  }

  .grid-item--width-3 {
    width: 75%;
  }
}

//
//Material Icons
//
.material-icons {
  vertical-align: top;
  font-weight: inherit;
}

.material-icons-18 {
  font-size: 18px !important;
}

.material-icons-24 {
  font-size: 24px !important;
}

.material-icons-36 {
  font-size: 36px !important;
}

.material-icons-48 {
  font-size: 48px !important;
}

.material-icons-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons-dark.material-icons-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons-light.material-icons-inactive {
  color: rgba(255, 255, 255, 0.3);
}

//
// Sly.js plugin
//
.slider {
  overflow: hidden;
}

.frame {
  position: relative;
  height: 50vh;
  padding: 0;

  .prev {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: auto;
    align-items: center;
    cursor: pointer;
  }

  .next {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin: auto;
    align-items: center;
    cursor: pointer;
  }

  .next,
  .prev {
    opacity: 1;
    @include transition();
  }

  .next.disabled,
  .prev.disabled {
    opacity: 0;
  }

  .slidee {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: inline-flex;
    align-items: center;

    li {
      float: left;
      margin: 0 5px 0 0;
      padding: 0;
      width: 50vh;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      flex: 0 1 auto;
      align-items: center;
    }
  }

  &.frame--full-page {
    height: 100vh;

    .slidee {

      li {
        width: 100vw;
      }
    }

    & ~ .pages {
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 30px;
    }

    & ~ .scrollbar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      height: 8px;
      background: transparent;

      .handle {
        position: relative;
        top: inherit;
      }
      
      .mousearea {
        display: none;
      }
    }
  }


}

.pages {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 4px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    border-width: 2px;
    border-style: dotted;
    @include transition();

    &.active {
      border-style: solid;
    }
  }
}

.scrollbar {
  position: relative;
  margin: 3rem 0;
  width: 100%;
  height: 1px;
  background: map_get($colors, blank);

  .handle {
    position: absolute;
    top: -3.5px;
    width: 100px;
    height: 8px;

    .mousearea {
      position: absolute;
      top: -9px;
      left: 0;
      width: 100%;
      height: 20px;
      cursor: pointer;
    }
  }

}
