//
// Section
//
body {
  color: map_get($colors, dark);
}

section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: map_get($colors, blank);

  &.auto-height {
    height: auto;
    min-height: 1px;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

//
// Fluid images
//
img {
  width: 100%;
  height: auto;
  display: block;
}

.txt-center {
  text-align: center !important;
}

.txt-right {
  text-align: right !important;
}

.txt-left {
  text-align: left !important;
}

/*
    Margin and padding

 */
@each $breakpoint in map-keys($breakpoints) {
  $infix: breakpoint-infix($breakpoint, $breakpoints);

  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $length in $spacers {

      .#{$abbrev}#{$infix}-#{$size} {
        #{$prop}: $length !important;
      }
      .#{$abbrev}t#{$infix}-#{$size},
      .#{$abbrev}y#{$infix}-#{$size} {
        #{$prop}-top: $length !important;
      }
      .#{$abbrev}r#{$infix}-#{$size},
      .#{$abbrev}x#{$infix}-#{$size} {
        #{$prop}-right: $length !important;
      }
      .#{$abbrev}b#{$infix}-#{$size},
      .#{$abbrev}y#{$infix}-#{$size} {
        #{$prop}-bottom: $length !important;
      }
      .#{$abbrev}l#{$infix}-#{$size},
      .#{$abbrev}x#{$infix}-#{$size} {
        #{$prop}-left: $length !important;
      }
    }
  }
}

