//
// Section
//
section {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &.auto-height {
    height: auto;
    min-height: 1px;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

//
// Fluid images
//
img {
  width: 100%;
  height: auto;
  display: block;
}

.txt-align-center {
text-align: center !important;
}

.txt-align-right {
text-align: right !important;
}

.txt-align-left {
text-align: left !important;
}

//
// Masonry pkgd plugin
//
.grid {
  margin: 5em 0;
}

.grid-sizer,
.grid-item,
.grid-item--width-2,
.grid-item--width-3 {
  width: 100%;
}

@include mq(tablet) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }

  .grid-item--width-2 {
    width: 50%;
  }

  .grid-item--width-3 {
    width: 75%;
  }
}